<form class="ui form bookmark-new">
  <%= form_for(bookmark) do |f| %>
  <% if bookmark.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>
    <ul>
      <% bookmark.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <label>Name:</label>
     <%= @current_user.first_name %> <%= @current_user.last_name %>
  </div>


  <div class="field">
    <label>Restaurant Name:</label>
    <%= f.text_field :restaurant_id, value: @restaurant.id, type: "hidden" %>
    <%= @restaurant.restaurant_name %>
  </div>

  <div class="field">
    <label>Bookmark Date</label>
    <%= f.date_field :bookmark_date %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "ui blue submit button" %>
  </div>
  <% end %>
