<%= form_for(reservation) do |f| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<form class="ui form">

<div class="field">
  <%= f.label :name %>:
  <%= @current_user.first_name %> <%= @current_user.last_name %>
</div>


<div class="field">
  <%= f.label :Partner_Accepted %>
  <%= f.text_field :partner_accepted %>
</div>

<div class="field">
  <%= f.label :reservation_date %>
  <%= f.datetime_field :reservation_date %>
</div>

<div class="field">
  <%= f.label :number_of_seats %>
  <%= f.text_field :number_of_seats %>
</div>


</form>

<% end %>
