<div class="reservationShowPage">
  <p id="notice"><%= notice %></p>
  <h1><%= @reservation.restaurant.restaurant_name %></h1>
  <p>
    <% @reservation.users.each do |user| %>
      <p>
        Reserved by <%= user.first_name %> on <%= user.created_at %>
      </p>
    <%end%>

  </p>

  <% if @reservation.partner_id == nil %>
    <p>
      This reservation still has space for 1. Would you like to join <%= @reservation.users[0].first_name %> ?
    </p>
    <button type="button" name="button">Join the reservation!</button>
  <% end %>

  <br>
  <%= link_to 'Edit', edit_reservation_path(@reservation) %> |
  <%= link_to 'Back', reservations_path %>
</div>
