<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>
<%= link_to 'New Restaurant', new_restaurant_path %>
<div class="ui link cards restaurantsIndex">
  <% @restaurants.each do |restaurant| %>
    <a class="card" href="/restaurants/<%= restaurant.id %>">
      <div class="image" >
        <img src="<%= restaurant.restaurant_profile_img_url %>" alt="" />
      </div>
      <div class="content">
        <div class="header"><%= restaurant.restaurant_name %></div>
        <div class="meta">
          <%= restaurant.cuisine %>
        </div>
        <div class="description">
          <%= restaurant.rating %>
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          <%= restaurant.restaurant_city %>
        </span>

      </div>
      
    </a>

    <% end %>

</div>
