<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant Name:</strong>
  <%= @restaurant.restaurant_name %>
</p>

<p>
  <strong>Cuisine:</strong>
  <%= @restaurant.cuisine %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Restaurant City:</strong>
  <%= @restaurant.restaurant_city %>
</p>

<p>
  <strong>Restaurant Country:</strong>
  <%= @restaurant.restaurant_country %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @restaurant.rating %>
</p>

<p>
  <strong>Restaurant Image:</strong>
  <%= @restaurant.restaurant_profile_img_url %>
</p>

<%= link_to 'New Reservation', new_reservation_path %> |

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
